@charset "UTF-8";
body {
  background-color: #0C82E9;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: black;
}
h1 {
  color: #242B09;
  font-family: Arial;
  font-size: 200%;
}
h2 {
  color: #242B09;
  font-family: Arial;
}
p {
  color: black;
  font-family: Arial;
  font-size: 120%;
  margin: 20px;
}
iframe {
  border-width: 0px;
  padding: 20px;
}
li {
  padding: 5px;
}
dl {
  padding: 20px;
}
nav {
  font-size: 30px;
  font-family: Arial;
  color: black;
  background-color: #A7739D;
  width: 14%;
}
section {
  background-color: cyan;
  width: 200px;
}
