@charset "UTF-8";
body {
  background-color: #d63636;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}
header {
  background-color: #a70d0d;
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
nav {
  text-align: center;
  background-color: #a70d0d;
}
article {
  float: left;
  padding: 30px;
  width: 50%;

}
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #a70d0d;
  padding: 10px;
  text-align: center;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
a:hover {
  color: #3333ff;
}
.vertical-menu {
  float: left;
  width: 35%;
  background-color: #e10404;
  padding: 20px;
  height: 420px;
}
div ul {
  list-style-type: none;
  padding: 30px;
}
