@charset "UTF-8";
body {
  background-color: #08E497;
}
h1 {
  color: red;
  font-family: Arial;
  font-size: 200%;
}
h2 {
  color: green;
  font-family: Arial;
  font-size: 160%;
}
p {
  color: purple;
  font-family: Arial;
  font-size: 120%;
}
